<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Green Cahill Hoodie -->
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box-four">
                    <img src="img/gear/green-cahill-hoodie.jpg" class="img-responsive" alt="Green Cahill Hoodie">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Hoodie</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Green Cahill T-Shirt -->
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box-four">
                    <img src="img/gear/green-cahill-shirt.jpg" class="img-responsive" alt="Green Cahill T-Shirt">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">T-Shirt</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- John Cahill Hoodie -->
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box-four">
                    <img src="img/gear/john-cahill-hoodie.jpg" class="img-responsive" alt="John Cahill Hoodie">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Hoodie</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- John Cahill T-Shirt -->
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box-four">
                    <img src="img/gear/john-cahill-shirt.jpg" class="img-responsive" alt="John Cahill T-Shirt">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">T-Shirt</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
