<section class="no-padding bg-dark py-5" id="logos">
    <div class="container-fluid">
        <div class="row no-gutter justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <img src="img/logos/usa-judo.png" class="img-responsive logo" alt="USA Judo Logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <img src="img/cahills-logo-round.png" class="img-responsive logo" alt="Cahill's Logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <img src="img/logos/jujitsu-america.png" class="img-responsive logo" alt="Jujitsu America Logo">
            </div>
        </div>
    </div>
</section>
