<section class="no-padding bg-dark text-light" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-4 col-12 portfolio-item">
                <img src="img/judoka/judoka6.jpg" class="img-responsive w-100" alt="">
            </div>
            <div class="col-md-4 col-12 portfolio-item">
                <img src="img/coach/coach1.jpg" class="img-responsive w-100" alt="">
            </div>
            <div class="col-md-4 col-12 portfolio-item">
                <img src="img/judoka/judoka2.jpg" class="img-responsive w-100" alt="">
            </div>
        </div>
    </div>
</section>
