<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa-calendar-day wow bounceIn text-primary"></i>
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Row 1 -->
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center h-100">
                    <div class="card-header bg-primary text-white">Monday</div>
                    <div class="card-body">
                        <p class="card-text"><strong>6:00pm - 7:30pm</strong><br>Teen / Adult Kodenkan Jujitsu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center h-100">
                    <div class="card-header bg-primary text-white">Tuesday</div>
                    <div class="card-body">
                        <p class="card-text"><strong>4:00pm - 5:30pm</strong><br>Kids Judo (7+)</p>

                        <p class="card-text"><strong>5:30pm - 7:00pm</strong><br>Advanced Juniors Judo (10+)</p>

                        <p class="card-text"><strong>7:00pm - 9:00pm</strong><br>Teen / Adult Judo (all levels)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center h-100">
                    <div class="card-header bg-primary text-white">Wednesday</div>
                    <div class="card-body">
                        <p class="card-text"><strong>4:15pm - 5:15pm</strong><br>Kids Beginner Judo (5+)</p>

                        <p class="card-text"><strong>5:15pm - 6:15pm</strong><br>Kids Judo/Kodenkan Jujitsu (7+)</p>

                        <p class="card-text"><strong>6:15pm - 7:30pm</strong><br>Adult Kodenkan Jujitsu</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center h-100">
                    <div class="card-header bg-primary text-white">Thursday</div>
                    <div class="card-body">
                        <p class="card-text"><strong>4:00pm - 5:30pm</strong><br>Kids Judo (7+)</p>

                        <p class="card-text"><strong>5:30pm - 7:00pm</strong><br>Advanced Juniors Judo (10+)</p>

                        <p class="card-text"><strong>7:00pm - 9:00pm</strong><br>Teen / Adult Judo (all levels)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center h-100">
                    <div class="card-header bg-primary text-white">Friday</div>
                    <div class="card-body">
                        <p class="card-text"><strong>5:30pm - 7:30pm</strong><br>Teen / Adult Judo and Jiujitsu (all levels)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center h-100">
                    <div class="card-header bg-primary text-white">Saturday</div>
                    <div class="card-body">
                        <p class="card-text"><strong>8:30am - 9:30am</strong><br>Kids Beginner Judo (5+)</p>
                        
                        <p class="card-text"><strong>9:30am - 10:30am</strong><br>Kids Judo (7+)</p>

                        <p class="card-text"><strong>11:00am - 1:00pm</strong><br>Teen / Adult Judo (all levels)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
